<!DOCTYPE html>
<head>
    <title>Product App</title>
    <link href="./styles.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale" />
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product-image">
            <img class="sock-image" :src="image" />
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory > 0">Almost sold out</p>
            <p v-else>Out of Stock</p>
            <span v-if="onSale">On sale!</span>
            <a :href="hmUrl" target="_blank">HM.se</a>
            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>
            <h3>Sizes:</h3>
            <ul>
                <li v-for="size in sizes">{{size}}</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src ="./main.js"></script>
</body>