.product-image{
    display: inline-block;
    width: 50%;
    float: left;
}

.product-info{
    display: inline-block;
    width: 50%;
    float: left;
}

.sock-image{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}